{% extends 'CatchOfTheDayDevExamBundle::base.html.twig' %}

{% block title %}{{ parent() }} - Welcome{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/catchofthedaydevexam/css/views/Default/index.css') }}"
{% endblock stylesheets %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h3>
                <img src="{{ asset('bundles/catchofthedaydevexam/images/cotd-logo.png') }}" />
                CatchOfTheDay Developer Exam
            </h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    This is an incomplete TODO list application based on Symfony 3 and Bootstrap 3. The TODO list items are to be serialised to JSON and saved in
                    <code>src/CatchOfTheDay/DevExamBundle/Resources/data/todo-list.json.</code> We have already provided the <code>TodoListManager</code> service to read and write
                    to this file. Look for <code>// TODO</code> comments inside <code>src/CatchOfTheDay/DevExamBundle</code> to complete the application. Please add validation to
                    the text field in the Add New Item form - do not allow blank items to be added. You're welcome to use Javascript (jQuery is also included here) for anything.
                </p>
                <p>
                    Bonus points:
                </p>
                <ul>
                    <li>Add pagination to the table of TODO list items below.</li>
                    <li>Provide the ability to edit existing TODO list items and change the text.</li>
                    <li>Use AJAX instead of POSTing/redirecting to <code>addAction()</code> or <code>markAsCompleteAction()</code>.</li>
                    <li>Provide a second interface to view Completed items, perhaps with the ability to 'uncomplete' items.</li>
                    <li>Surprise us!</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="app-header">TODO List Application</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <form class="form-horizontal" action="{{ path('add') }}" method="post" id="form-new-item">
                        <h5>Add New Item</h5>
                        <div id="form-msg-success" class="alert alert-success alert-dismissible form-response" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span class="text"></span>
                            <a href="/">Refresh</a>
                        </div>
                        <div id="form-msg-error" class="alert alert-danger alert-dismissible form-response" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span class="text"></span>
                        </div>
                        <div class="form-group" id="div-todo-text">
                            <div class="col-md-12">
                                <span class="help-block" id="label-text-warning">Text should not be empty :)</span>
                                <span class="help-block" id="label-text-submitting">Submitting ...</span>
                                <input type="text" class="form-control" id="todo-text-input" name="todo-text" placeholder="Text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="button-submit" type="submit" class="btn btn-primary">
                                    Add
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Your TODO List</h4>
            </div>
        </div>

        <div class="row" id="items-container">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible" id="mark-error">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span class="text"></span>
                </div>
            </div>
            {% set incomplete = 0 %}
            {% for item in items if not item.complete %}
                {% set incomplete = incomplete + 1 %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>{{ item.created|date('d/m/Y g:i a') }}</h4>
                            <p>{{ item.text }}</p>
                            <p>
                                <a href="{{ path('mark_as_complete', { 'itemId': item.id }) }}"
                                   class="btn btn-success btn-xs btn-mark-complete"
                                   id="{{ item.id }}"
                                   role="button">
                                    Mark as Complete
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if incomplete == 0 %}
                <div class="col-md-12">
                    You have completed all todo items.
                </div>
            {% endif %}
        </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/catchofthedaydevexam/js/form.js') }}"></script>
{% endblock javascripts %}
